<div style="margin-top: 5%;margin-left: 9%;" class="container">
<form (ngSubmit)="submit()">
    <div class="form-group">
      <label for="lob">lobCategoryName</label>
      <input type="text" class="form-control" id="lob" name="lob" [(ngModel)]="lob">
    </div>
    <div class="form-group">
      <label for="cre">createdBy</label>
      <input type="text" class="form-control" id="cre" name="cre" [(ngModel)]="cre" >
    </div>
    
    <button class="btn btn-success" type="submit">Submit</button>
  </form>
  </div>
